a {
  text-decoration: none;
}

.titleH {
  align-content: flex-start;
  font-weight: 800;
  font-size: 64px;
  -webkit-text-stroke: 2px #000000;
  color: transparent;
}

.chat-title {
  font-size: 32px;
  font-weight: 600;
}

.btnH {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 387px;
  height: 101px;
  margin-bottom: 19px;
  padding: 19px;
  border: 2px solid black;
  border-radius: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
}

.ycircle,
.gcircle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  -webkit-text-stroke: 2px #000000;
  color: transparent;
  font-size: 24px;
  font-weight: 700;
}

.ycircle {
  background-color: #fcd674;
}

.gcircle {
  background-color: #4db88c;
}

.stock {
  padding: 23px;
  font-weight: 600;
  font-size: 24px;
}
