.header {
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    z-index: 100;  
  }
  
  .headerTitle {
      /* align-content: flex-start; */
      padding-top: 40px;
      font-weight: 800;
      font-size: 64px;
      -webkit-text-stroke: 2px #000000;
      color: transparent;
    }