.me {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.others {
    justify-content: end;
}

.me .profile {
    color: gray;
    padding-right: 13px;
}
.IMBOT .profile{
    color: #4DB88C;
    
}