form {
    display: flex;
    justify-content: right;
    padding: 2px;
}

.file {
    border: 1px solid blue;
    padding: 10px;
    margin-right: 10px;
}

.input{
    width: 75%;
    height: 35px;
}